<a href="https://colab.research.google.com/github/lemonpooh/newbieAsking/blob/master/Copy_of_Colab_%26_Python_Basic_(Complete).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab

## Import Google drive
Import the google drive into the provisioned session.

Advantages:
*   To store your data and files .
*   To manage your own drive.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## IPython and Shell Commands


IPython gives you a syntax for executing shell commands directly from within the IPython terminal.
The magic happens with the exclamation point: anything appearing after ``!`` on a line will be executed not by the Python kernel, but by the system command-line.

The following assumes you're on a Unix-like system, such as Linux or Mac OSX.
Some of the examples that follow will fail on Windows, which uses a different type of shell by default.

In [ ]:
!pwd # to show current working directory

/content

In [ ]:
!ls # to list the files

sample_data

In [ ]:
!cd sample_data/ # Running in temporary subshell
!pwd

/content

In [ ]:
%cd sample_data/
!pwd

/content/sample_data
/content/sample_data

In [ ]:
!mkdir tmp # create a directory
!ls

anscombe.json		      mnist_test.csv	     tmp
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
current_dir = !pwd # store command-line result to variable
print(current_dir)

['/content']

In [ ]:
!echo "test123" > test.txt # write a test file
!cat test.txt

test123

# Datatypes 
In python, we have some basic datatypes such as string, int, float and etc.

In [ ]:
print("Hello") # string
print('hi') # string
print(2.12) # float

Hello
hi
2.12

# Basic math operation
Some basic math operation can be used in Python such as 

```
+, -, *, /, **, //, %. 
```

In [ ]:
print(1 + 2)
print(1 * 2 + 5)
print( 3 / 4 )
print(2 ** 2)

3
7
0.75
4

Quotient and remainder

In [ ]:
print(20 // 7) # get for the quotient
print(20 % 7) # remainder

2
6

# In-place Operator

In [ ]:
x = 4
x += 5    # similar to x = x + 5
x -= 2    # similar to x = x - 2
print(x)

7

In [ ]:
x-- # postfix decrement operator

SyntaxError: ignored

In [ ]:
spam = "spam"
spam *= 3
print(spam)

spamspamspam

# Strings

In Python, single quotation (') and double quotation (") is treated as the same datatype which is string.

In [ ]:
print("Welcome to DSC")
print('Python is amazing')

Welcome to DSC
Python is amazing

Python also allow some math operation to be used in string. For example, +, *.

In [ ]:
x = 'Hello'
y = " World"
print(x + y)

Hello World

In [ ]:
x = 'spam'
print(x * 3)

spamspamspam

# Declaring variable

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 1 # in java or c, int x = 1
y = 2
print(x + y)

3

In [ ]:
name = "My name is Ah Chong."
print(name)

My name is Ah Chong.

# List 
Lists are used to store multiple items in a single variable.

**List items are ordered, changeable, and allow duplicate values.**

In [ ]:
fruits = ['apple', 'orange', 'grapes'] # similar to array

print(fruits)

['apple', 'orange', 'grapes']

accessing item in list

In [ ]:
fruits = ['apple', 'orange', 'grapes']

print(fruits[0])

apple

In [ ]:
topic = "python"

print(topic[3])

h

## List Operation

You can check if an item is inside the list by using ` in `. To check if an item is not inside the list, add a `not`

In [ ]:
fruits = ['apple', 'banana', 'grapes', 'orange']

print('apple' in fruits)
print('egg' in fruits)

print('egg' not in fruits)
print(not 'egg' in fruits) # in java, !true = false

True
False
True
True

You can also add an item or items into existing list.

In [ ]:
fruits = ['apple', 'banana', 'grapes', 'orange']
fruits_2 = ['pear', 'pineapple']

# Method 1
all_fruits = fruits + fruits_2
print(all_fruits)

# Method 2 - extend an iterable
fruits.extend(fruits_2)
print(fruits)

['apple', 'banana', 'grapes', 'orange', 'pear', 'pineapple']
['apple', 'banana', 'grapes', 'orange', 'pear', 'pineapple']

You can remove an items from a list by using `remove()`, `pop()`, `del`

In [ ]:
fruits = ['apple', 'banana', 'grapes', 'orange']

fruits.pop() # remove the last item
print(fruits)

fruits.pop(2) # remove the item index of 2
print(fruits)

fruits.remove('banana') # remove the item banana from the list
print(fruits)

del fruits[0] # remove the first index of the list
print(fruits)

['apple', 'banana', 'grapes']
['apple', 'banana']
['apple']
[]

You can perform slicing in list by using square bracket([ ]). You can slice the item by

`[start_index(inclusive), end_index(exclusive), jump] `

In [ ]:
fruits = ['apple', 'banana', 'grapes', 'orange']


print(fruits[0:2]) # slicing [0, 2)
print(fruits[:3])
print(fruits[:3:2])
print(fruits[-1])
print(fruits[::-1])

['apple', 'banana']
['apple', 'banana', 'grapes']
['apple', 'grapes']
orange
['orange', 'grapes', 'banana', 'apple']

In [ ]:
pineapple = "pineapple"
print(pineapple[4:])

apple

## List Functions

You can add an item to the end of the list, by using the `append()` method.

In [ ]:
fruit = ['apple', 'banana']
fruit_2 = ['grapes', 'orange']
fruit.append(fruit_2) # add an items to the end of the list
print(fruit)
print(len(fruit))

['apple', 'banana', ['grapes', 'orange']]
3

To append elements from another list to the current list, use the `extend()` method.

In [ ]:
fruit = ['apple', 'banana']
fruit_2 = ['grapes', 'orange']
fruit.extend(fruit_2) # 
print(fruit)
print(len(fruit))

['apple', 'banana', 'grapes', 'orange']
4

You can check the size of the list by using `len()` method

In [ ]:
fruits = ['apple', 'banana', 'grapes', 'orange']
print(len(fruits))

4

To insert a list item at a specified index, use the `insert()` method.

The `insert()` method inserts an item at the specified index:

In [ ]:
fruit = ['apple', "banana"]
fruit.insert(1, 'grapes')
print(fruit)

['apple', 'grapes', 'banana']

Other list method

`index()` - to get the index of the first occurance of the item

`max()` - to get the maximum in the list

`min()` - to get the minimum in the list

`count()` - to count the number of occurance of the item

`reverse()` - to reverse a list

`remove()` -  to remove an item

In [ ]:
numbers = [1, 2, 3, 4, 5, 5, 6]

print(numbers.index(5)) # get index of the element
print(max(numbers)) # get the maximum
print(min(numbers)) # minimum
print(numbers.count(5)) # count the occurance of the element

numbers.remove(4)
print(numbers)

numbers.reverse()
print(numbers)

4
6
1
2
[1, 2, 3, 5, 5, 6]
[6, 5, 5, 3, 2, 1]

# Tuple

Tuples are used to store multiple items in a single variable. 

Tuple is one of 4 built-in data types in Python used to store collections of data

**A tuple is a collection which is ordered and unchangeable.**

In [ ]:
x = (123, "abc") # packing
y = tuple([1234, "abcd"])

print(x)
print(y)

(123, 'abc')
(1234, 'abcd')

Access an item in tuple

In [ ]:
x = (123, "abc", 456)
print(x[0])

123

In Python, we are also allowed to extract the values from the tuple back into variables which is called "unpacking"

In [ ]:
x_1, x_2 = x
print(x_1)
print(x_2)

123
abc

In [ ]:
x_1, x_2, x_3 = x

ValueError: ignored

Unpacking using asterisk(*)

In [ ]:
x = ('apple', 'banana', 'grapes', 'orange')

x_1, x_2,  *x_3 = x

print(x_1)
print(x_2)
print(x_3)


*x_1, x_2 = x

print(x_1)
print(x_2)

apple
banana
['grapes', 'orange']
['apple', 'banana', 'grapes']
orange

# Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data

**Set items are unordered, unchangeable, and do not allow duplicate values.**

In [ ]:
fruit_set  = {"apple", "banana", "cherry"}
print(fruit_set)

{'apple', 'cherry', 'banana'}

In [ ]:
fruit_set =  {"apple", "banana", "cherry", "apple", "banana"}
print(fruit_set)

{'apple', 'cherry', 'banana'}

You cannot access an item in set.

In [ ]:
fruit_set[0]

TypeError: ignored

You can loop in a set and check an item in a set.

In [ ]:
print("banana" in fruit_set)

True

In [ ]:
for i in fruit_set:
  print(i)

apple
cherry
banana

Set Method

`add()` - add an item to the set

`difference()` - Check the differences between 2 sets

`discard()` - remove the specific items

`union()` - return a set containing the union of sets

In [ ]:
fruit_1 = {"apple", "banana"}
fruit_2 = {"apple", "banana", "kiwi"}

fruit_1.add("durian")
print(fruit_1)

print(fruit_1.difference(fruit_2))

fruit_1.discard("durian")
print(fruit_1)

fruit_1.union(fruit_2)

{'durian', 'apple', 'banana'}
{'durian'}
{'apple', 'banana'}

{'apple', 'banana', 'kiwi'}

# Dictionary
Dictionaries are used to store data values in key:value pairs.

**A dictionary is a collection which is unordered, changeable and does not allow duplicates.**

In [ ]:
student = {
    "name": "Ah Chong",
    "age": 20,
    "course": "IT"
}

You can access the element of dictionary by using the key.

In [ ]:
student["age"]

20

In [ ]:
student.keys()

dict_keys(['name', 'age', 'course'])

You can reasign an key with a new value or add a new pair of key and value

In [ ]:
student = {
    "name": "Ah Chong",
    "age": 20,
    "course": "IT"
}

# Method 1
student['age'] = 19
student['status'] = "studying"
print(student)

{'name': 'Ah Chong', 'age': 19, 'course': 'IT', 'status': 'studying'}

In [ ]:
student = {
    "name": "Ah Chong",
    "age": 20,
    "course": "IT"
}

# Method 2
student.update({"age": 21, "status":"studying"})
print(student)

{'name': 'Ah Chong', 'age': 21, 'course': 'IT', 'status': 'studying'}

Remove items in the dictionary

In [ ]:
student.pop("status")
print(student)

{'name': 'Ah Chong', 'course': 'IT'}

Looping through the dictionary

In [ ]:
student = {
    "name": "Ah Chong",
    "age": 20,
    "course": "IT"
}

for i in student.values():
  print(i)

for i in student.keys():
  print(student[i])

for k,v in student.items():
  print(f"key: {k} values: {v}")

Ah Chong
20
IT
Ah Chong
20
IT
key: name values: Ah Chong
key: age values: 20
key: course values: IT

Dictionary methods

`clear()` - clear the dictionary

`fromkeys()` - return dictionary with specified keys and value

In [ ]:
student.clear()
print(student)

keys = ["key1", "key2", "key3"]
values = 0

newdict = dict.fromkeys(keys, values)
print(newdict)

{}
{'key1': 0, 'key2': 0, 'key3': 0}

Summary for List, Set, Tuple, Dictionary

![link text](https://pbs.twimg.com/media/EWokjOaXgAI5fQI.jpg)

# Working with input

In [ ]:
name = input('Please enter your name ')  # get the name form the user
print("Welcome abroad, " + name)        # display message

Please enter your nameAh Chong
Welcome abroad, Ah Chong

# Exercise 1

Write a program to allow user input his or her username, year of birth and output a welcome message with his or her current age. Example:


```
Please enter your username: Ah Chong
Please enter your year of birth: 2000
Welcome Ah Chong, 20 years old to join Python Basic!!
```

In [ ]:
name = input("Please enter your username: ")
year_of_birth = input("Please enter your year of birth: ")
year_of_birth = int(year_of_birth)
age = 2020 - year_of_birth
print(f"Welcome {name}, {age} years old to join Python Basic!!")

Please enter your username: Ah Chong
Please enter your year of birth: 2000
Welcome Ah Chong, 20 years old to join Python Basic!!

# Condition Statement

## Boolean and comparisions

Boolean is ised to evaluate expression and values.

It will only return True or False.

In [ ]:
boolean = True
print(boolean)

print(2==3)

print("I like python" == 'I like python')

In [ ]:
print( 5 > 6) 
print( 4 < 6) 
print( 4 >= 4)
print( 6 <= 4)

**Boolean Logic** is used to make more complicated conditions for if statements that rely on more than one condition.

There have 3 **boolean operators** which is **and**, **or** and **not**.

**and**

It will only return True when the both arguments are true.

If one of the arguments is false, then it will return False.

In [ ]:
print(1 == 1 and 2 == 2) # similar to && in Java and C

print(1 == 1 and 2 == 3)

print(1 != 1 and 2 == 2) # != can also be used as not

print(2 < 1 and 3 >  6)

True
False
False
False

**or**

It will return True when either one argument is true.

It will only return False when the both arguments are false

In [ ]:
print(1 == 1 or 2 == 2)

print(1 == 1 or 2 == 3)

print(1 != 1 or 2 == 2)

print(2 < 1 or 3 >  6)

True
True
True
False

**not**

Used to inverts the arguments.

In [ ]:
print(not 1 == 1) 

print(not 1 > 7)

False
True

## if.. elif.. else..

Use **if** statements to run code if a certain condition holds.

If an expression evaluates to **True**, some statements are carried out.


**if statement**

```
if expression:
  statement
```

In [ ]:
if 6 > 5:
  print('6 is greater than 5')  # remember to put a indentation: white space

6 is greater than 5
6 is greater than 5

**Else statement**

The **else** statement can be used to run some statements when the condition of the if statement is **False**.

```
if expression:
  statement
else:
  statement
```

In [ ]:
x = 4
if x == 5:
  print('Yes')
else:
  print('No')

No

The **elif** (short for else if) statement is a shortcut to use when chaining if and else statements.


```
if expression:
  statement
  
elif expression:
  statement

else:
  statement
```

In [ ]:
x = 6 

if x == 5:
  print('five')
elif x == 6:
  print('six')
else:
  print('Something else')

six

# Loopings

## While Loop

Use while loop when we want to repeat a block of code multiple times.

In [ ]:
i = 5
while (i > 0):
  print(str(i) + ", " , end="!")
  i-=1

print("Finished")

5, !4, !3, !2, !1, !Finished

In [ ]:
x = 1
while x < 10:
    if x%2 == 0:
        print(str(x) + " is even")
    else:
        print(str(x) + " is odd")

    x += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [ ]:
i = 0
while 1==1:
    print(i)
    i = i + 1
    if i >= 5:
        print("Breaking")
        break

print("Finished")

0
1
2
3
4
Breaking
Finished

In [ ]:
i = 0
while True:
    i = i +1
    if i == 2:
        print("Skipping 2")
        continue
    if i == 5:
        print("Breaking")
        break
    print(i)

print("Finished")

1
Skipping 2
3
4
Breaking
Finished

## For loop

For loop is to iterate over a given sequence.

In [ ]:
words = ["hello", "world", "spam", "eggs"]
for word in words: # for each loop: for (String i : cars)
    print(word + "!")

hello!
world!
spam!
eggs!

In [ ]:
string = "testing for loops"
count = 0
for x in string:
  if(x == 't'):
    count += 1
    
print(count)

2

In [ ]:
for i in range(10): # for (int i = 0; i < 10; i++)
  print(i)
else:
  print("Finished!!")

0
1
2
3
4
5
6
7
8
9
Finished!!

In [ ]:
for i in range(10): # for (int i = 0; i < 10; i++)
  print(i)
  if i == 5:
    break
else:
  print("Finished!!")

0
1
2
3
4
5

## Range()

range() is to return a sequence of numbers.

In [ ]:
numbers = list(range(10))
print(numbers)

numbers = list(range(5,10))
print(numbers)

numbers = list(range(0, 10, 2))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

# Exception Handling

Exceptions occur when something goes wrong due to inncorect code or input.

The program immediately stops when the exceptions occurs.

Use try/except statement to handle exceptions.

try.. except.. finally

In [ ]:
1 / 0

ZeroDivisionError: ignored

In [ ]:
try:
  x = input("x = ")
  y = input("y = ")
  answer = int(x) / int(y)
  print("Answer is " + str(answer))

except ZeroDivisionError: # except same as catch
  print("y CANNOT BE ZERO")
except:
  print("an error has occured")

x = 1
y = q
an error has occured

In [ ]:
try: 
  x = input("x = ")
  y = input("y = ")
  answer = int(x) / int(y)
  print("Answer is " + str(answer))

except ZeroDivisionError as x:
  print(x)
except:
  print("an error has occured")

x = 1
y = 0
division by zero

In [ ]:
try:
  x = input("x = ")
  y = input("y = ")
  answer = int(x) / int(y)
  print("Answer is " + str(answer))

except ZeroDivisionError as x:
  print(x)
except:
  print("an error has occured")
finally: #the finally statement will be run no matter what error occurs
  print("Process completed")

x = 1
y = a
an error has occured
Process completed

In [ ]:
try:
  x = input("x = ")
  y = input("y = ")
  answer = int(x) / int(y)
  print("Answer is " + str(answer))

except ZeroDivisionError:
  raise Exception("Invalid value!") # raise exceptions
except:
  print("an error has occured")
  raise
finally:
  print("Process completed")

x = 1
y = q
an error has occured
Process completed

ValueError: ignored

# Function

Use **def** statement to create your own functions.

In [ ]:
def printHello():
  print("Hello World!")

printHello()

Hello World!

In [ ]:
# with one argument
def welcome(name):
  print("Welcome " + name + " aboard!")

welcome("Ah Chong")

Welcome Ah Chong aboard!

In [ ]:
# more than one arguments
def add(x, y):
  return x + y

x = 10
y = 10

print(f"The sum of {x} and {y} is " + str(add(x, y)))

The sum of 10 and 10 is 20

In [ ]:
def add(x, y):
  return x + y

operation = add

a = 10
b = 12

print(f"The sum of {a} and {b} is " + str(operation(a, b)))

In [ ]:
def add(x, y):
  return x + y
  
def sum_twice(func, x, y):
  """
  Sum 2 times
  """         
  return func(func(x,y), func(x,y)) # add(add(x,y), add(x,y))

a = 3
b = 2

print(f"The sum of {a} and {b} by 2 times is " + str(sum_twice(add, a, b)))

# Exercise 2

Write a program to allow user enter an arithmetric expression in form of x + y. You should consider basic math operation such as +, -, *, /. Then, return your answer to the user. 
Example:



```
Please enter an arithmetric expresisons: 5 + 5
answer is 10
```

In [ ]:
question = input('Please enter an arithmetric expresisons in form of x + y: ')
x, operator, y = question.split(' ')

x = int(x); y = int(y)

if operator == '+':
  print('answer is ', x + y)
elif operator == '-':
  print('answer is ', x - y)
elif operator == '*':
  print('answer is ', x * y)
elif operator == '/':
  try:
    print('answer is ', x / y)
  except ZeroDivisionError:
    print("Cannot divide by zero. ")
else:
  print("Error has occured")

Please enter an arithmetric expresisons in form of x + y: 1 +- 2
Error has occured